body {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-left: 100px;
  margin-top: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  
}
.title {
  position: relative;
}

h1::before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background-color: #fb1;
  position: absolute;
  top: 15px;
  left: -10px;
  z-index: -100;
  border-radius: .2rem;
}